:root {
  --primary: rgb(185, 32, 58);
  --white: white;
}
body {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  height: 100vh;
  margin: 0px;
}

.hotel {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  flex-direction: row;
  width: 80vw;
  height: 75vh;
  justify-content: space-around;
  align-items: center;
}
.hotel_card {
  display: flex;
  flex-direction: column;
}
.hotel_price {
  align-items: end;
  color: red;
  display: flex;
  justify-content: flex-end;
}
.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.date_from {
  display: flex;
  flex-direction: column;
}
.date_to {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header_link {
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.booking_table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
}
