.mainContainer {
  /* display: block; */
  width: 100vw;
  height: 100vh;
}
/* .mainHeader {
  position: absolute;
  top: 0;
  left: 0;
} */

.header-links {
  position: absolute;
  top: 30px;
  left: 120px;
}
.logOut {
  position: absolute;
  top: 30px;
  right: 30px;
}
.header_link {
  text-decoration: none;
  color: black;
  padding-right: 10px;
}
.active {
  color: var(--primary);
}
